# Veb sayt uchun bu fayl shart emas.
# Faqatgina Android (Capacitor) ilovasini build qilayotganda ushbu o'zgaruvchi kerak bo'ladi.
# Backend ishlayotgan domen yoki IP manzilni yozing.
# Eslatma: Android ilovalar uchun API HTTPS'da ishlashi juda muhim!

VITE_API_URL=https://sizning-domeningiz.com
# yoki IP manzil (lekin Android cleartext http'ni bloklashi mumkin):
# VITE_API_URL=http://37.60.238.251:5000
